html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--clr-primary);
}

body,
input {
  font-family: Hubballi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body.light {
  --clr-primary: #f5e7df;
  --clr-secondary: #0a1347;
}

body.dark {
  --clr-primary: #0a1347;
  --clr-secondary: #f5e7df;
}

* {
  box-sizing: border-box;
}

.pageContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}
